<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Karrot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Karrot.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Gilroy:wght@300;400;700&display=swap" rel="stylesheet">

    <style>
        .navbar-light .navbar-nav .nav-link.active {
            color: #ff6f0f;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <div class="icon navbar-brand" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <a asp-area="" asp-page="/Index">
                        <svg viewBox="0 0 97 28">
                            <path
                                d="M7.946 8.732a7.944 7.944 0 0 0-7.923 8.49l.008.105a7.9 7.9 0 0 0 .935 3.143c1.728 3.29 5.29 5.298 6.537 5.925.281.14.608.14.887 0 1.248-.627 4.81-2.635 6.537-5.924a7.897 7.897 0 0 0 .936-3.147l.007-.099a7.943 7.943 0 0 0-7.923-8.493Zm0 10.902a2.98 2.98 0 1 1 0-5.958 2.98 2.98 0 0 1 0 5.958Z"
                                fill="#FF7E36"></path>
                            <path
                                d="M4.968 7.954h.64a7.95 7.95 0 0 1 4.678 0h.64a1.49 1.49 0 1 0-.836-2.72 2.483 2.483 0 1 0-4.624-1.25c0 .456.125.882.34 1.25a1.49 1.49 0 1 0-.837 2.72h-.001Z"
                                fill="#00B493"></path>
                            <path
                                d="M37.106 9.073H32.3L28.12 14.74V4.464h-4.229v18.783h4.229V18.06l3.99 5.187h5.236l-5.666-7.112 5.426-7.062Z"
                                fill="#FF7E36">
                            </path>
                            <path
                                d="M46.663 9.94c-.43-.289-.909-.479-1.487-.669-.719-.24-1.487-.338-2.304-.338-.959 0-1.925.19-2.784.578a7.414 7.414 0 0 0-2.255 1.536 8.15 8.15 0 0 0-1.536 2.305 7.276 7.276 0 0 0-.578 2.882c0 1.008.19 1.966.578 2.883a7.415 7.415 0 0 0 1.536 2.255 7.469 7.469 0 0 0 2.255 1.536 6.667 6.667 0 0 0 2.784.578c.817 0 1.585-.099 2.304-.339a5.282 5.282 0 0 0 1.487-.669v.818h4.18V9.073h-4.18v.867Zm-4.8 9.458c-.387-.19-.767-.43-1.056-.719-.29-.339-.529-.669-.719-1.107-.19-.43-.24-.867-.24-1.346 0-.48.1-.909.24-1.346.19-.43.43-.818.719-1.107.289-.29.669-.578 1.057-.719.388-.19.867-.289 1.346-.289.48 0 .958.1 1.346.29.43.19.818.429 1.107.718.339.289.579.669.768 1.107.19.43.29.867.29 1.346 0 .479-.1.958-.24 1.346-.19.43-.43.768-.719 1.107-.338.339-.669.578-1.106.719-.917.338-1.974.388-2.792 0ZM58.053 9.461c-.48.29-.958.628-1.346 1.058V9.08h-4.18v14.166h4.229v-6.484c0-1.107.29-2.015.867-2.693.579-.627 1.537-.958 2.833-.958h.24V8.883h-.24c-.867 0-1.685.19-2.403.578ZM67.75 9.461c-.48.29-.959.628-1.347 1.058V9.08h-4.18v14.166h4.23v-6.484c0-1.107.289-2.015.867-2.693.578-.627 1.536-.958 2.833-.958h.24V8.883h-.24c-.867 0-1.685.19-2.404.578ZM83.748 10.948c-.669-.669-1.486-1.198-2.403-1.586-.917-.388-1.925-.578-3.023-.578-1.107 0-2.115.19-3.023.578-.917.388-1.727.909-2.404 1.586a7.301 7.301 0 0 0-1.586 2.354 7.276 7.276 0 0 0-.578 2.883c0 1.007.19 2.015.578 2.882a7.256 7.256 0 0 0 1.586 2.354 6.664 6.664 0 0 0 2.404 1.537c.908.388 1.924.578 3.023.578 1.057 0 2.114-.19 3.023-.579.908-.388 1.726-.908 2.403-1.585a7.299 7.299 0 0 0 1.586-2.354 7.276 7.276 0 0 0 .578-2.883c0-1.008-.19-2.015-.578-2.883a6.21 6.21 0 0 0-1.586-2.304Zm-6.773 1.966c.43-.19.868-.24 1.347-.24s.958.1 1.346.24c.43.19.768.43 1.107.718.289.339.528.67.718 1.107.19.43.24.909.24 1.437 0 .529-.1 1.008-.29 1.438-.19.429-.429.817-.767 1.106a3.42 3.42 0 0 1-1.107.768c-.867.389-1.925.389-2.734 0-.43-.19-.768-.43-1.057-.768-.29-.338-.529-.669-.719-1.107-.14-.429-.24-.908-.24-1.437 0-.528.1-1.007.24-1.437.19-.43.43-.818.719-1.107.38-.33.76-.57 1.197-.718ZM95.948 12.864v-3.79h-3.362V5.521h-4.18v3.502h-1.965v3.8h1.966v5.475c0 1.636.43 2.833 1.346 3.7.867.818 2.304 1.248 4.18 1.248h2.064v-3.651h-1.776c-.578 0-.958-.1-1.197-.339-.24-.19-.388-.578-.388-1.156v-5.286h3.312v.05Z"
                                fill="#FF7E36">
                            </path>
                        </svg>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item bold">
                            <a class="nav-link" id="home" asp-area="" asp-page="/Index">Browse</a>
                        </li>
                        <li class="nav-item bold">
                            <a class="nav-link" id="home" asp-area="" asp-page="/Products/Index">Products</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"></partial>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item bold">
                            <a class="nav-link" id="test" asp-area="" asp-page="/RegisterSuccess">Test</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container bold ">
            <ul class="customFooter">
                <li>
                    &copy; 2023 - Karrot - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <li>
                    About Us
                </li>
                <li>
                    FAQ
                </li>
                <li>
                    customerservice@karrotmarket.com
                </li>

            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        const currentPage = window.location.pathname.split('/').pop().toLowerCase() || 'home';
        const currentLink = document.querySelector('.nav-link#' + currentPage);
        if (currentLink) currentLink.classList.add('active');
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>