@using Microsoft.AspNetCore.Identity
@using Karrot.Data
@using Karrot.Models
@using Microsoft.EntityFrameworkCore;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject KarrotDbContext Context

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<ul class="navbar-nav">
    @{
        IList<CartItem> cartItems = await Context.CartItems.
            Where(c => c.CartItemUser.UserName == User.Identity.Name).ToListAsync();
    }
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <strong>
                    Hello
                    @(UserManager.GetUserName(User).First().ToString().ToUpper() +
                      UserManager.GetUserName(User).Substring(1))!
                </strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cartitems" asp-area="" asp-page="/CartItems/Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <span class="cart">
                @{ if (cartItems != null)
                       @(cartItems.Count()) }
                </span>
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline link-primary" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0 bold">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item bold">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item bold">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>