@using Microsoft.AspNetCore.Identity
@using Karrot.Data
@using Karrot.Models
@using Microsoft.EntityFrameworkCore;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject KarrotDbContext Context

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<ul class="navbar-nav">
    @{
        IList<CartItem> cartItems = await Context.CartItems.
            Where(c => c.CartItemUser.UserName == User.Identity.Name).ToListAsync();
    }
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <strong>
                    Hello
                    @(UserManager.GetUserName(User).First().ToString().ToUpper() +
                      UserManager.GetUserName(User).Substring(1))!
                </strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cartitems" asp-area="" asp-page="/CartItems/Index">
                <strong>Cart</strong>(
                @{ if (cartItems != null)
                       @(cartItems.Count()) 
                }
                )
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline link-primary" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0 bold">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item bold">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item bold">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>