@page
@model Karrot.Pages.CartItems.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Create</h1>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
