@page
@model Karrot.Pages.CartItems.Rating
@{
    ViewData["Title"] = "Rating";
}


<h1>@ViewData["Title"]</h1>
<div>
    <form method="post" asp-page="Rating" asp-route-orderId="@Model.OrderId" asp-route-sellerId="@Model.SellerId">
        
        <td>
            <input asp-for="Input.Rating" id="input-rating" required="true" class="rating-loading" aria-required="true"
                placeholder="Rate Seller" />
            <label asp-for="Input.Rating">Rate Seller</label>
            <span asp-validation-for="Input.Rating" class="text-danger"></span>
        </td>
        <td>
            <button type="submit" class="btn btn-primary">Rate Seller</button>
        </td>
    </form>
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.1.2/js/star-rating.min.js" integrity="sha512-BjVoLC9Qjuh4uR64WRzkwGnbJ+05UxQZphP2n7TJE/b0D/onZ/vkhKTWpelfV6+8sLtQTUqvZQbvvGnzRZniTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.1.2/themes/krajee-svg/theme.min.js" integrity="sha512-tl/PJxCMfgyb4CtWoIgSXi/1x5As+ufhB62D67+nF4F5i2MafacNEuBCRgh6FHb3iAsfLXabp4cC6qDWMCZnSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    $(document).ready( (x) => {
      $("#input-rating").rating({min: 0, max: 5, step: 1, size: 'sm', showClear: false, showCaption: false});
    });
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.1.2/css/star-rating.min.css" integrity="sha512-0VKIzRYJRN0QKkUNbaW7Ifj5sPZiJVAKF1ZmHB/EMHtZKXlzzbs4ve0Z0chgkwDWP6HkZlGShFj5FHoPstke1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.1.2/themes/krajee-svg/theme.min.css" integrity="sha512-q6XeY4ys7Foi9D1oD7BaADWxjvqeI+58MAg/f7a61vpnclnScvmdCHdFf+X8kNVxKUkhcyDoKfcNJa150v5MEw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
