@page
@model Karrot.Pages.CartItems.TransactionPage
@{
    ViewData["Title"] = "TransactionPage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
   
        <td>
            <input asp-for="Input.firstName" class="form-control" autocomplete="firstName" aria-required="true"
                placeholder="First Name" />
            <label asp-for="Input.firstName">First Name</label>
            <span asp-validation-for="Input.firstName" class="text-danger"></span>
        </td>
   
        <td>
            <input asp-for="Input.lastName" class="form-control" autocomplete="firstName" aria-required="true"
                placeholder="Last Name" />
            <label asp-for="Input.lastName">Last Name</label>
            <span asp-validation-for="Input.lastName" class="text-danger"></span>
        </td>
        <td>
            <button type="submit" class="btn btn-primary">Pay</button>
        </td>
 
</form>