@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}
<div class="text-center">
    <h1>Manage your account</h1>
</div>
<div class="container">
    <hr />
    <div class="row justify-content-lg-center ">

        <div class="col-md-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-8">
            @RenderBody()
        </div>

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
