<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Karrot.styles.css" asp-append-version="true" /> *@
    <link href="https://fonts.googleapis.com/css2?family=Gilroy:wght@300;400;700&display=swap" rel="stylesheet">

    <style>
        .text-color {
            color: #212124;
        }


        :root {
            --btn-primary-color: white;
            --btn-primary-bg-color: #ff6e1d;
            --secondary: white;
            --success: #your-success-color;
            --danger: #ff6e1d;
            --warning: #ff6e1d;
            --info: #your-info-color;
            --light: #your-light-color;
            --dark: #your-dark-color;
            --white: #your-white-color;
            --black: #your-black-color;
        }

        .btn-primary {
            color: var(--btn-primary-color);
            background-color: var(--btn-primary-bg-color);
            border: #e96017 1px solid;
            box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
            font-family: 'Gilroy', sans-serif;

        }

        .btn-primary:hover {
            background-color: #e96017;
            border: #e96017 1px solid;
            box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
        }

        .form-control:focus {
            border-color: #ff6e1d;
            box-shadow: 0 -4px 6px rgba(255, 110, 29, 0.1) !important;
        }

        a:hover {
            color: #e96017;
        }

        .form-check-input {
            box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1)!important;
        }

        
    </style>
</head>

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}
<div class="text-center">
    <h1>Manage your account</h1>
</div>
<div>

    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 w-50 m-auto">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
