@page
@model Karrot.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Register Product for sale </h1>

<hr/>
<div class="row">
    <div class="col-md-8 m-auto">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group form-margin">
                <label asp-for="Name" class="control-label form-label-font"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-margin">
                <label asp-for="Description" class="control-label form-label-font"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-margin">
                <label asp-for="Price" class="control-label form-label-font"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-margin">
                <label asp-for="Image" class="control-label form-label-font"></label>
                <input asp-for="Image" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-margin">
                <label asp-for="Category" class="control-label form-label-font"></label>
                <br/>
                <select asp-for="Category" class="form-control section">
                    @foreach (var category in Model.Categories)
                    {
                        <option class="form-control" value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group form-margin">
                <label asp-for="Address" class="control-label form-label-font"></label>
                <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Address">New Address</a>
                <br/>
                <select asp-for="Address" class="form-control section">
                    @foreach (var address in Model.Addresses)
                    {
                        <option class="form-control" value="@address.AddressId">@address.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-lg btn-primary"/>
                <a class="btn btn-lg btn-danger" asp-area="" asp-page="/Products/Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div style="text-align: right">
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}