@page
@inject SignInManager<IdentityUser> _signManager;
@using Microsoft.AspNetCore.Identity
@model Karrot.Pages.SimpleChat
@{
    ViewData["Title"] = "CHAT";
}
<head>
        <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
</head>
<input type="text" id="userInput" value=@User.Identity.Name hidden/>

<div class="chat_wrap">
    <div class="header">
        @ViewData["Title"]
    </div>
    <div class="chat">
        <ul>
            
        </ul>
    </div>
    <div class="input-div">
        <textarea name="chatUser" placeholder="Press Enter for send message."></textarea>
    </div>

 
    <div class="chat format">
        <ul>
            <li>
                <div class="sender">
                    <span></span>
                </div>
                <div class="message">
                    <span></span>
                </div>
            </li>
        </ul>
    </div>
</div>
    
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>