@font-face {
    font-display: swap;
    font-family: Gilroy;
    font-style: normal;
    src: url(https://assets.ca.karrotmarket.com/static/Gilroy-Bold-b368f174a8b7ecf820e78b7fd0fdb62c.woff2)
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #ff6f0f !important;
    border-color: #ff6f0f !important;
}

.text-color {
    color: #212124;
}

a.text-color:active {
    color: inherit;
    text-decoration: none;
}

a.text-color:hover {
    color: inherit;
    text-decoration: none;
}


:root {
    --btn-primary-color: white;
    --btn-primary-bg-color: #ff6e1d !important;
    --secondary: white;
    --success: #your-success-color;
    --danger: #ff6e1d;
    --warning: #ff6e1d;
    --info: #your-info-color;
    --light: #your-light-color;
    --dark: #your-dark-color;
    --white: #your-white-color;
    --black: #your-black-color;
}

.btn-outline-primary {
    color: #e96017;
    border-color: #e96017
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #e96017;
    border-color: #e96017
}

.btn-primary {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg-color);
    border: #e96017 1px solid;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Gilroy', sans-serif;
}

.btn-primary:hover {
    background-color: #e96017;
    border: #e96017 1px solid;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary:active {
    background-color: #e96017;
    border: #e96017 1px solid;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);

}

.form-control:focus {
    border-color: #ff6e1d;
    box-shadow: 0 -4px 6px rgba(255, 110, 29, 0.1) !important;
}

a:hover {
    color: #e96017;
}

.form-check-input {
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1) !important;
}

.cart {
    border: 3px solid orange;
    border-radius: 5px;
    padding: 0 3px;
}

.form-margin {
    margin: 15px;
}

.form-label-font {
    font-size: 17px;
    font-weight: bold;
}

.back-to-list {
    text-align: right;
}


.navbar-light .navbar-nav .nav-link.active {
    color: #ff6f0f;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ddd;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }